是否是archive:<%- is_archive() %>
<!-- <%- list_archives({transform:function(item){
	return item;
	}}) %> -->
归档日期<%- page.year%>
<% if(!page.year){%>
	<%- list_archives({transform:function(item){
		var path=url_for("archives/"+2017)
		var link="<a href='"+path+"'>"+item+"</a>"
		return link;
		}}) %> 
<% }else{%>

<% page.posts.each(function(item){ %>
    <%- partial('_partial/article-excerpt', {item: item}) %>
<% }); %>
<%- partial('_partial/pagination') %>

<% }%>