<html>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <!-- Menu -->
    <%- partial('_partial/menu') %>
    <div class="main">
        <!-- Blog Header: title and subtitle -->
        <%- partial('_partial/header') %>

        <div class="row">

            <!-- Main Content -->
            <div class="col-lg-9 blog-main col-sm-12">
                <%- body %>
            </div>

            <!-- Sidebar -->
            <div class="col-sm-3  blog-sidebar hidden-md-down">
                <%- partial('_partial/sidebar') %>
            </div>
        </div>
    </div>
        <!-- Footer -->
    <%- partial('_partial/footer') %>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
    
    <div id="menu" class="menu">
        <div class="menu menu-line line1" id="line1"></div>
        <div class="menu menu-line line2" id="line2"></div>
        <div class="menu menu-line line3" id="line3"></div>

    </div>

</body>

</html>